.form-div {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
  
.form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    
}
  
.form-textbox {
    display: block;
    border-radius: 10px;
    border: 3px solid #004478f0;
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 100%;
    justify-content: center;
    padding: 0 25px;
    text-align: center;
    max-width: 100%;
  
}
