a {
  margin-left: 25px;
  margin-right: 25px;
  display: grid;
  justify-content: center;
  text-decoration: none !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: white !important;
}


.wrapper {
  margin-top: 30px;
  display: flex;
  height: auto;
  width: auto;
  justify-content: center;
  align-items: center;
}

.accordion {
  width: 600px;

}

.item {
  background: rgb(199, 199, 199);
  margin-bottom: 5px;
  padding: 10px 20px;

}

.title {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

#item-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}